name: Package DNS zones for Query Results account

on:
  push:
    branches:
      - main
    paths:
      - infrastructure/dns-zones-query-results/**
  workflow_dispatch: {}

env:
  AWS_REGION: eu-west-2

jobs:
  package:
    name: Package template
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
      - name: Setup Python 3.8
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # v6.0.0
        with:
          python-version: '3.8'
      - name: Setup SAM CLI
        uses: aws-actions/setup-sam@c71dd89d980e49367c70391e8ada4353f52f2800  # v2
      - name: Assume AWS role
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8  # v5.1.0
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ secrets.QUERY_RESULTS_DNS_ZONES_GH_ACTIONS_ROLE_ARN }}
      - name: Package SAM app
        uses: govuk-one-login/devplatform-upload-action@fda75612a1b0e5a8c84ae7c44a23340e50e5bbde  # v3.11.0
        with:
          artifact-bucket-name: ${{ secrets.QUERY_RESULTS_DNS_ZONES_ARTIFACT_BUCKET_NAME }}
          signing-profile-name: ${{ secrets.QUERY_RESULTS_SIGNING_PROFILE_NAME }}
          template-file: infrastructure/dns-zones-query-results/template.yaml
          working-directory: .
