name: Package DNS records for Query Results account

on:
  push:
    branches:
      - main
    paths:
      - infrastructure/dns-records-query-results/**
  workflow_dispatch: {}

env:
  AWS_REGION: eu-west-2

jobs:
  package:
    name: Package template
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - name: Setup Python 3.8
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: '3.8'
      - name: Setup SAM CLI
        uses: aws-actions/setup-sam@c71dd89d980e49367c70391e8ada4353f52f2800  # v2
      - name: Assume AWS role
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708  # v5.1.1
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ secrets.QUERY_RESULTS_DNS_RECORDS_GH_ACTIONS_ROLE_ARN }}
      - name: Package SAM app
        uses: govuk-one-login/devplatform-upload-action@fda75612a1b0e5a8c84ae7c44a23340e50e5bbde  # v3.11.0
        with:
          artifact-bucket-name: ${{ secrets.QUERY_RESULTS_DNS_RECORDS_ARTIFACT_BUCKET_NAME }}
          signing-profile-name: ${{ secrets.QUERY_RESULTS_SIGNING_PROFILE_NAME }}
          template-file: infrastructure/dns-records-query-results/template.yaml
          working-directory: .
