name: Package DNS zones for Audit account

on:
  push:
    branches:
      - main
    paths:
      - infrastructure/dns-zones-audit/**
  workflow_dispatch: {}

env:
  AWS_REGION: eu-west-2

jobs:
  package:
    name: Package template
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - name: Setup Python 3.8
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405  # v6.2.0
        with:
          python-version: '3.8'
      - name: Setup SAM CLI
        uses: aws-actions/setup-sam@c2a20b1822cc4a6bc594ff7f1dbb658758e383c3  # v2
      - name: Assume AWS role
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708  # v5.1.1
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ secrets.AUDIT_DNS_ZONES_GH_ACTIONS_ROLE_ARN }}
      - name: Package SAM app
        uses: govuk-one-login/devplatform-upload-action@abbf25e43a88b3512b1a43621f9aef4cbea1b648  # v3.12.1
        with:
          artifact-bucket-name: ${{ secrets.AUDIT_DNS_ZONES_ARTIFACT_BUCKET_NAME }}
          signing-profile-name: ${{ secrets.AUDIT_SIGNING_PROFILE_NAME }}
          template-file: infrastructure/dns-zones-audit/template.yaml
          working-directory: .
