name: Validate & lint templates

on: push

jobs:
  validate-templates:
    name: Validate SAM templates
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      - name: Setup Python 3.8
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # v6.0.0
        with:
          python-version: '3.8'
      - name: Install yamlfix
        run: pip install yamlfix
      - name: Run yamlfix
        run: yamlfix -c .yamlfix.toml --check .
      - name: Setup SAM CLI
        uses: aws-actions/setup-sam@c71dd89d980e49367c70391e8ada4353f52f2800  # v2
      - name: Validate SAM templates
        run: ./scripts/validate-templates.sh
      - name: Run Checkov on SAM templates
        uses: bridgecrewio/checkov-action@02a4c5d6a02367e5ea493c34c26b094302fd3f61  # v12.3075.0
        with:
          directory: infrastructure/
          quiet: true
          framework: cloudformation
